body {
  font-family: 'Sanchez', serif;
  background-color: #D5D2CD;
  color: #352D28;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headshots{
  width: 300px;
  height: 300px;
}

.header {
  background-color: #D5D2CD;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.logo {
  font-size: 50px;
  font-weight: bold;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #352D28;
  font-size: 30px;
}

nav a:hover {
  text-decoration: underline;
}

.content {
  max-width: 85%;
  margin: 50px auto;
  background: #d1cdc4;
  padding: 20px;
  border: solid #9C8B7E;
  border-radius: 8px;
}

.content h1 {
  color: #009d34;
  text-align: center;
  margin-bottom: 30px;
}

.content p {
  color: black;
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.content ul {
  list-style-type: disc;
  padding-left: 40px;
}

.content ul li {
  margin-bottom: 10px;
  font-size: 20px;
}

.content img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.column {
  flex: 1;
  max-width: 300px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}

.card img {
  width: 100%;
  border-bottom: 1px solid #f4f4f4;
}

.container {
  padding: 15px;
  text-align: center;
}

.container h2 {
  margin: 10px 0;
  color: #009d34;
}

.container p {
  margin: 10px 0;
  color: #333;
}

@media screen and (max-width: 431px) {
  .column {
    width: 100%;
    display: block;
  }
}