/* GLOBAL STYLES */
body {
    background: #00296B;
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    transition: opacity 1s ease-out; /* Smooth fade-out effect */
}

body.fade-out {
    opacity: 0; /* Fade out by reducing opacity */
}

/* Typing effect for the text lines */
.css-typing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.css-typing h1 {
    font-family: "Courier New", Courier, monospace;
    font-size: 70px;
    color: #FFD500;
    white-space: nowrap;
    overflow: hidden;
    margin: 0; /* Remove default margins */
}

.typing {
    border-right: .15em solid orange; /* The typewriter cursor */
}

.css-typing h1:nth-child(1) {
    width: 0; /* Start with 0 width */
    animation: type1 1.5s steps(7, end) forwards;
}

.css-typing h1:nth-child(2) {
    width: 0; /* Start with 0 width */
    animation: type2 1.5s steps(6, end) 1.5s forwards;
}

.css-typing h1:nth-child(3) {
    width: 0; /* Start with 0 width */
    animation: type3 1.5s steps(14, end) 3s forwards, blink .75s step-end infinite alternate 3s;
}

@keyframes type1 {
    from { width: 0; }
    to { width: 7ch; }
}

@keyframes type2 {
    from { width: 0; }
    to { width: 6ch; }
}

@keyframes type3 {
    from { width: 0; }
    to { width: 14ch; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

/* Photo animation */
#logo {
    opacity: 0;
    position: relative;
    left: -100%;
    margin-top: 20px; /* Adjust this value as needed */
    transition: opacity 9s ease-in, left 9s ease-in; /* Match transition duration with typing animation */
}

.fade-in {
    opacity: 1 !important; /* Force opacity to 1 */
    left: 0 !important; /* Move to the middle */
}

.motto {
    color: #FFD500;
    font-family: monospace;
    font-size: 40px;
    opacity: 0;
    transition: opacity 4.5s ease-in;
    margin-top: 20px;
}

.show-text {
    opacity: 1 !important;
}